.characteristics-application__slogan {
  margin-top: 46px;
  padding-left: 58px;
  padding-right: 60px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #283645;
}

.characteristics-application__slogan-question {
  display: block;
  margin-bottom: 40px;
}

.characteristics-application__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
}

.characteristics-application__list::before {
  display: block;
  content: "";
  width: 320px;
  height: 80px;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.characteristics-application__list-mobile {
  height: 748px;
  overflow: hidden;
}

.characteristics-application__list-mobile::after {
  display: block;
  margin: 45px auto 0px auto;
  content: "";
  width: 157px;
  height: 320px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
}

.characteristics-application__item {
  text-align: center;
}

.characteristics-application__item-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.characteristics-application__item-description {
  font-size: 14px;
  line-height: 1.71;
  color: #283645;
}

.characteristics-application__item-description1 {
  padding: 0 34px;
}

.characteristics-application__item-description2 {
  padding: 0 33px;
}

.characteristics-application__item-description3 {
  padding-left: 30px;
  padding-right: 31px;
}
