.history__slogan {
  width: 271px;
  margin: 49px 0;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #283645;
}

.history__form {
  display: flex;
  flex-direction: column;
}

.history__form-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.history__list {
  margin: 0 22px;
  padding: 0;
  list-style: none;
}

.history__item {
  margin-bottom: 25px;
}

.history__item:last-of-type {
  margin-bottom: 44px;
}

.history__label {
  margin-bottom: 12px;
  display: block;
  padding-left: 29px;
  font-size: 14px;
  line-height: 2.14;
  text-transform: uppercase;
  text-align: left;
  color: #d22856;
}

.history__input {
  box-sizing: border-box;
  width: 276px;
  height: 59px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #283645;
  border: 2px solid #e5e5e5;
}

.history__form-progress {
  background-color: #f2f2f2;
}

.history__form-legend {
  width: 100%;
  padding-top: 41px;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  color: #d22856;
}

.history__form-span {
  display: block;
  margin: 0 auto;
}

.history__progress-head {
  width: 250px;
}

.history__progress-item {
  margin-bottom: 47px;
  min-height: 35px;
}

.history__progress-item:last-of-type {
  margin-bottom: 44px;
}

.history__progress-input {
  display: none;
}

.history__progress-label {
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #283645;
}

.history__progress-label::before {
  display: inline-block;
  content: "";
  margin-right: 33px;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.history__progress-input:checked ~ .history__progress-label::before {
  background-image: url("../img/icon-yes.svg");
  background-position: 50% 50%;
  background-color: "#d4345f";
}

.history__form-application {
  background-color: #f2f2f2;
}

.history__application-item {
  margin-bottom: 39px;
}

.history__application-item:last-of-type {
  margin-bottom: 44px;
}

.history__application-input {
  display: none;
}

.history__application-label {
  position: relative;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #283645;
}

.history__application-label::before {
  box-sizing: border-box;
  margin-right: 33px;
  display: inline-block;
  content: "";
  width: 37px;
  height: 36px;
  vertical-align: middle;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;
}

.history__application-input:checked ~ .history__application-label::after {
  position: absolute;
  top: 9px;
  left: 13px;
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #d22856;
}

.history__form-contact {
  margin-top: 41px;
}

.net__item-label::before {
  margin-right: 11px;
  margin-left: 1px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.history__emotion-legend {
  background-color: #ffffff;
  margin-bottom: 19px;
}

.history__emotion {
  box-sizing: border-box;
  margin-bottom: 52px;
  margin-left: 22px;
  margin-right: 22px;
  padding-top: 23px;
  padding-left: 19px;
  padding-right: 22px;
  width: 276px;
  min-height: 197px;
  border: 2px solid #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #283645;
}

.history__form-button {
  margin: 0 22px;
  width: 276px;
  height: 59px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: 2px solid #2aab6d;
  border-radius: 3px;
  background-color: #2aab6d;
}

.history__note {
  margin-top: 46px;
  font-size: 14px;
  line-height: 2.14;
  text-transform: uppercase;
  text-align: center;
  color: #283645;
}

.history__note-star {
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .history__slogan {
    width: 500px;
    margin: 100px 0 76px 0;
    font-size: 18px;
    line-height: 30px;
  }

  .history__slogan-span {
    display: inline-block;
  }

  .history__label,
  .history__input {
    display: inline-block;
  }

  .history__label {
    margin-right: 20px;
  }

  .history__form-fieldset:not(:first-of-type) {
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }

  .history__form-legend {
    display: block;
    width: auto;
    padding-top: 0px;
    background-color: #ffffff;
  }

  .history__progress-head {
    width: 436px;
  }

  .history__contact-head,
  .history__emotion-head {
    width: 260px;
  }
  .history__application-head {
    width: 368px;
  }

  .history__form-persona {
    order: 0;
    min-height: 289px;
  }

  .history__surname,
  .history__name {
    margin-bottom: 56px;
  }

  .history__item:last-of-type {
    margin-bottom: 50px;
  }

  .history__form-progress {
    order: 3;
    min-height: 549px;
    margin-bottom: 62px;
  }

  .history__form-contact {
    order: 2;
    min-height: 306px;
    margin-top: 0;
    margin-bottom: 62px;
  }

  .history__form-application {
    order: 1;
    min-height: 295px;
    margin-bottom: 62px;
  }

  .history__application-list {
    margin-left: 59px;
  }

  .history__application-item {
    margin-bottom: 39px;
  }

  .history__application-label::before {
    margin-right: 23px;
  }

  .history__form-emotion {
    order: 4;
    min-height: 289px;
  }

  .history__emotion {
      display: block;
      width: 496px;
      height: 189px;
      margin: 0 auto;
  }

  .history__form-button {
    order: 5;
  }
}
@media (min-width: @desktop-width) {
  .history__slogan {
    width: 752px;
    margin: 100px 0 89px 0;
  }
}
