.page-header {
  height: 733px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #17212D;
}

.page-header__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__toggle {
  border:  0;
  background-color: rgba(0, 0, 0, 0);
}

.page__header-head {
  padding: 0 76px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.page__header-form {
  padding-left: 48px;
  padding-right: 46px;
}

.page-header__photo,
.page-header__form {
  height: 262px;
}
