.photo__slogan {
  margin: 97px 39px 97px 40px;
  padding: 0;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #283645;
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__item-header {
  display: block;
  width: 140px;
  height: 36px;
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  background-color: #d22856;
  text-transform: uppercase;
  color: #ffffff;
}

.photo__item {
  margin-bottom: 20px;
  width: 280px;
  padding: 0px 13px 28px 17px;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  background-color: #f2f2f2;
  color: #283645;
}

.photo__item-link {
  display: block;
  margin-bottom: 25px;
}

.photo__item-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo__item-like {
  border: 0;
  font-size: 12px;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: #d22856;
}
