.post__slogan {
  margin: 29px 35px 48px 32px;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #283645;
}

.post__customization {
  padding: 20px 20px 41px 18px;
  background-color: #f2f2f2;
}

.post__control {
    display: flex;
}

.post__panorama-icon {
  display: block;
  width: 44px;
  height: 44px;
  background-image: url("../img/icon-editor-crop.svg");
  background-repeat: no-repeat;
}

.post__saturation-icon {
  display: block;
  width: 48px;
  height: 43px;
  background-image: url("../img/icon-editor-fill.svg");
  background-repeat: no-repeat;
}

.post__brightness {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-editor-contrast.svg");
  background-repeat: no-repeat;
}

.post__submit {
  margin-bottom: 12px;
  width: 280px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 50px;
}

.post__reset {
  width: 280px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  color: rgb(40, 54, 69);
  border: 3px solid #283645;
  border-radius: 50px;
  opacity: 0.1;
}
