.tariff__table {
  border-collapse: collapse;
}

.tariff__table-head {
  padding: 23px 91px 21px 70px;
  text-align: center;
  text-transform: uppercase;
  border: solid 2px #283645;
  background-color: #283645;
  color: #ffffff;
}

.tariff__table-type {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}

.tariff__table-price {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}

.tariff__table-cell {
  width: 233px;
  height: 59px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #283645;
}
