body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  width: 320px;
  margin: 0 auto;
}
.visually-hidden {
  display: none;
}
.button {
  border: 0;
}
@media (min-width: 660px) {
  .wrapper {
    width: 660px;
  }
}
.page-header {
  position: relative;
  min-height: 733px;
  background-color: #17212D;
}
.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 66px;
  background-color: rgba(0, 0, 0, 0.3);
}
.page-header__head {
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  min-height: 69px;
  background-color: #233343;
  -webkit-box-shadow: 0px 1px 0 0 #000000;
          box-shadow: 0px 1px 0 0 #000000;
}
.main-nav__toggle {
  display: block;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 49px;
  height: 25px;
  overflow: hidden;
}
.main-nav__toggle:active .page-header__logo-image1 {
  display: none;
}
.main-nav__toggle:active .page-header__logo-image2 {
  display: block;
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #233343;
}
.site-list__item-link {
  display: block;
  height: 63px;
  -webkit-box-shadow: 0px 1px 0 0 #000000, inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
          box-shadow: 0px 1px 0 0 #000000, inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
  font-size: 24px;
  font-weight: bold;
  line-height: 63px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}
.page__header-head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 25px;
  padding: 0 48px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  opacity: 0.7;
  color: #ffffff;
}
.page-header__photo,
.page-header__form {
  min-height: 235px;
}
@media (min-width: 660px) {
  .page-header {
    min-height: 730px;
  }
  .wrapper {
    width: 660px;
  }
  .page-header__wrapper {
    min-height: 110px;
  }
  .page-header__head,
  .main-nav__list {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    min-height: 730px;
  }
  .wrapper {
    width: 1200px;
  }
  .page-header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page-header__head,
  .main-nav__list {
    min-height: 110px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .page-header__logo {
    margin-left: 130px;
    margin-right: 176px;
  }
  .main-nav {
    margin-right: 129px;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-list__item-link {
    font-size: 18px;
    font-weight: normal;
    line-height: 110px;
    text-align: left;
    vertical-align: middle;
    text-transform: none;
  }
}
.download-application {
  margin-top: -72px;
  min-height: 647px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  border: 1px solid transparent;
}
.download-application__wrapper {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 258px auto;
  background-position: 0 97px;
  min-height: 462px;
}
.download-application__slogan {
  margin-top: 78px;
  margin-bottom: 348px;
  padding-left: 40px;
  padding-right: 49px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  opacity: 0.7;
}
.download-application__button {
  margin: 28px auto 32px auto;
  display: block;
  width: 281px;
  height: 55px;
  line-height: 55px;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.download-application__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 57px;
  padding-right: 58px;
  list-style: none;
}
.download-application__info-win {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}
@media (min-width: 660px) {
  .download-application {
    margin-top: -110px;
    min-height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
  .download-application__wrapper {
    margin-top: 183px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 700px auto;
    background-position: -17px 0;
    min-height: 545px;
    border-top: 1px solid transparent;
  }
  .download-application__content {
    width: 320px;
  }
  .download-application__content {
    margin: 0;
    margin-left: 15px;
  }
  .download-application__slogan {
    margin-top: 15px;
    margin-bottom: 39px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
  }
  .download-application__button {
    width: 300px;
    margin-bottom: 46px;
  }
  .download-application__info-win {
    font-size: 18px;
    line-height: 1.33;
  }
}
@media (min-width: 1200px) {
  .download-application {
    margin-top: -110px;
    min-height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
  .download-application__wrapper {
    margin-top: 209px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px auto;
    background-position: 146px 0;
    min-height: 645px;
    border-top: 1px solid transparent;
  }
  .download-application__content {
    width: 320px;
  }
  .download-application__content {
    margin: 0;
    margin-left: 100px;
  }
  .download-application__slogan {
    margin-top: 5px;
  }
  .download-application__button {
    font-size: 21px;
  }
}
.characteristics-application__slogan {
  margin-top: 46px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #283645;
}
.characteristics-application__slogan-question {
  display: block;
  margin-bottom: 40px;
}
.characteristics-application__menu {
  min-height: 700px;
  background-color: #f2f2f2;
}
.characteristics-application__menu::before {
  display: block;
  content: "";
  height: 120px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1200px' height='94.074px' viewBox='0 0 1200 94.074' enable-background='new 0 0 1200 94.074' xml:space='preserve'%3e%3cpolygon fill='%23ffffff' points='1200,0 0,0 0,94.074 '/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}
.characteristics-application__menu-wrapper {
  position: relative;
}
.characteristics-application__list {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
}
.characteristics-application__list::after {
  display: block;
  margin: 45px auto 0px auto;
  content: "";
  width: 157px;
  height: 268px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
}
.characteristics-application__item {
  text-align: center;
}
.characteristics-application__item:first-of-type {
  margin-bottom: 40px;
}
.characteristics-application__item:nth-of-type(2) {
  margin-bottom: 38px;
}
.characteristics-application__item-title {
  font-size: 18px;
  line-height: 1.71;
  font-weight: bold;
  color: black;
}
.characteristics-application__item-description {
  font-size: 14px;
  line-height: 1.71;
  color: #283645;
  opacity: 0.7;
}
.characteristics-application__item-description1 {
  padding: 0 30px;
}
.characteristics-application__item-description2 {
  padding: 0 30px;
}
.characteristics-application__item-description3 {
  padding-left: 30px;
  padding-right: 31px;
}
@media (min-width: 660px) {
  .characteristics-application__slogan {
    margin-top: 46px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 300;
  }
  .characteristics-application__slogan-question {
    margin-bottom: 0;
  }
  .characteristics-application__slogan-answer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .characteristics-application__menu {
    min-height: 590px;
  }
  .characteristics-application__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
  .characteristics-application__list::after {
    position: absolute;
    margin: 0;
    top: -70px;
    left: 0;
    width: 300px;
    height: 520px;
    background-size: cover;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
  }
  .characteristics-application__items {
    width: 320px;
  }
  .characteristics-application__item {
    text-align: left;
  }
  .characteristics-application__item:first-of-type {
    margin-bottom: 40px;
  }
  .characteristics-application__item:nth-of-type(2) {
    margin-bottom: 35px;
  }
  .characteristics-application__item-description {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .characteristics-application__slogan {
    margin-top: 46px;
    padding-left: 230px;
    padding-right: 230px;
    margin-bottom: 0;
    font-size: 50px;
  }
  .characteristics-application__slogan-question {
    margin-bottom: 0;
  }
  .characteristics-application__menu {
    min-height: 590px;
  }
  .characteristics-application__list::after {
    display: none;
  }
  .characteristics-application__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
  }
  .characteristics-application__item:first-of-type {
    margin-bottom: 40px;
  }
  .characteristics-application__item:nth-of-type(2) {
    margin-bottom: 35px;
  }
  .characteristics-application__item-description {
    padding: 0;
  }
}
.feedback {
  position: relative;
  margin-top: 49px;
}
.feedback__slider-labels {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -31px;
}
.feedback__slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.feedback__slider-item {
  display: none;
  margin: 0 22px 39px 22px;
  text-align: center;
}
.feedback__slider-header {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #000;
}
.feedback__slider-description {
  font-size: 14px;
  line-height: 2.14;
  color: #283645;
}
.feedback__slider-input {
  display: none;
}
.feedback__slider-label::before {
  margin-right: 13px;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(40, 54, 69, 0.3);
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.feedback__slider-label::before:last-of-type {
  margin-right: 0;
}
.feedback__slider-input--slide1:checked ~ .feedback__slider-labels .feedback__slider-label--slide1::before,
.feedback__slider-input--slide2:checked ~ .feedback__slider-labels .feedback__slider-label--slide2::before,
.feedback__slider-input--slide3:checked ~ .feedback__slider-labels .feedback__slider-label--slide3::before {
  border-color: #283645;
  background-color: #ffffff;
}
.feedback__slider-input--slide1:checked ~ .feedback__slider-list .feedback__slider-item1,
.feedback__slider-input--slide2:checked ~ .feedback__slider-list .feedback__slider-item2,
.feedback__slider-input--slide3:checked ~ .feedback__slider-list .feedback__slider-item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 660px) {
  .feedback__slider-list {
    width: 660px;
  }
  .feedback__slider-item {
    margin: 0 11px 39px 11px;
    text-align: center;
  }
  .feedback__slider-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 20px;
    font-weight: bold;
    line-height: 2.14;
    color: #000000;
  }
  .feedback__slider-signature {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: block;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    color: #283654;
  }
  .feedback__slider-description {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    font-size: 18px;
    line-height: 1.67;
    color: #283645;
  }
}
.tariff {
  min-height: 506px;
  position: relative;
  background-color: #f2f2f2;
}
.tariff::before {
  display: block;
  content: "";
  min-height: 120px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1200px' height='94.074px' viewBox='0 0 1200 94.074' enable-background='new 0 0 1200 94.074' xml:space='preserve'%3e%3cpolygon fill='%23ffffff' points='1200,0 0,0 0,94.074 '/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}
.tariff__wrapper {
  overflow: hidden;
}
.tariff__table {
  width: auto;
  position: relative;
  top: 0;
  left: 0;
  border-collapse: collapse;
}
.tariff__table-head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 23px 91px 21px 70px;
  width: 276px;
  height: 94px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  background-color: #283645;
  color: #ffffff;
}
.tariff__table-type {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}
.tariff__table-price {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}
.tariff__table-cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 22px;
  height: 59px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  line-height: 1.67;
  text-transform: uppercase;
  text-align: left;
  background-color: #ffffff;
  color: #283645;
}
.tariff__table-cell1,
.tariff__table-head1 {
  display: none;
}
.tariff__icon-yes {
  fill: #3dc644;
}
.tariff__icon-no {
  fill: #f25b26;
}
.tariff__slider-input {
  display: none;
}
.tariff__slider-label::before {
  margin-right: 13px;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(40, 54, 69, 0.3);
  border: 3px solid #f2f2f2;
  border-radius: 50%;
}
.tariff__slider-label::before:last-of-type {
  margin-right: 0;
}
.tariff__slider-labels {
  position: absolute;
  bottom: 35px;
  left: 50%;
  margin-left: -31px;
}
.tariff__slider-input--slide1:checked ~ .tariff__slider-labels .tariff__slider-label--slide1::before,
.tariff__slider-input--slide2:checked ~ .tariff__slider-labels .tariff__slider-label--slide2::before,
.tariff__slider-input--slide3:checked ~ .tariff__slider-labels .tariff__slider-label--slide3::before {
  border-color: #283645;
  background-color: #ffffff;
}
.tariff__slider-input--slide1:checked ~ .tariff__table {
  left: 30px;
}
.tariff__slider-input--slide2:checked ~ .tariff__table {
  left: -234px;
}
.tariff__slider-input--slide3:checked ~ .tariff__table {
  left: -500px;
}
.tariff__slider-input--slide1:checked ~ .tariff__slider-list .tariff__slider-item1,
.tariff__slider-input--slide2:checked ~ .tariff__slider-list .tariff__slider-item2,
.tariff__slider-input--slide3:checked ~ .tariff__slider-list .tariff__slider-item3 {
  display: block;
}
@media (min-width: 660px) {
  .tariff__table {
    position: static;
    margin-top: 40px;
  }
  .tariff__table-head1,
  .tariff__table-cell1 {
    display: table-cell;
  }
  .tariff__table-head1 {
    visibility: hidden;
    background-color: transparent;
  }
  .tariff__cell-span {
    display: none;
  }
  .tariff__slider-labels {
    display: none;
  }
  .tariff__table-head {
    padding: 19px 39px 13px 40px;
    width: 152px;
    height: 75px;
  }
  .tariff__table-type {
    font-size: 16px;
    line-height: 1.88;
  }
  .tariff__table-price {
    font-size: 18px;
    line-height: 1.67;
  }
  .tariff__table-cell {
    width: 153px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 2.14;
    text-transform: none;
  }
}
.contacts {
  text-align: center;
}
.contacts__slogan {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts__list-item {
  margin-bottom: 27px;
}
.contacts__head {
  font-size: 18px;
  font-weight: bold;
  color: #283645;
}
.contacts__description {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}
.contacts__tel {
  text-align: center;
  padding: 0 50px;
}
.contacts__tel-link,
.contacts__mail-link {
  text-decoration: none;
}
.contacts__mail {
  padding: 0 30px;
}
.contacts__address {
  padding: 0 50px;
}
.contacts__map {
  position: relative;
}
.contacts__map::before {
  position: relative;
  display: block;
  content: "";
  min-height: 158px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='595.28px' height='61.905px' viewBox='0 0 595.28 61.905' enable-background='new 0 0 595.28 61.905' xml:space='preserve'%3e%3cpolygon fill='%23ffffff' points='297.64,61.905 0,0 595.28,0 '/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: contain;
}
.contacts__map-iframe {
  margin-top: -150px;
}
@media (min-width: 660px) {
  .contacts__slogan {
    margin: 0 144px 44px 144px;
    font-size: 40px;
  }
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts__tel,
  .contacts__mail,
  .contacts__address {
    padding: 0;
    width: 237px;
  }
}
.photo__slogan {
  margin: 50px 39px 50px 40px;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #283645;
}
.photo__list {
  margin: 0 20px;
  text-align: center;
  padding: 0;
  list-style: none;
}
.photo__item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  width: 280px;
  padding: 0px 13px 28px 17px;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  background-color: #f2f2f2;
  color: #283645;
}
.photo__item-header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 140px;
  height: 36px;
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  background-color: #d22856;
  text-transform: uppercase;
  color: #ffffff;
}
.photo__item-link {
  position: relative;
  top: 0;
  left: -17px;
  display: block;
  margin-bottom: 25px;
}
.photo__item-link--active {
  left: -37px;
}
.photo__item-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
.photo__item-like {
  display: block;
  border: 0;
  font-size: 12px;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: #d22856;
}
.photo__item-like::before {
  margin-right: 19px;
  display: inline-block;
  content: "";
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
}
.post__form {
  position: relative;
}
.post__slogan {
  margin: 29px 35px 48px 32px;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #283645;
}
.post__customization {
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: #f2f2f2;
}
.post__image {
  padding-right: 20px;
  padding-left: 18px;
}
.post__controls {
  position: relative;
  margin-top: 40px;
  padding-bottom: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.post__control {
  display: inline-block;
  vertical-align: middle;
}
.post__panorama {
  margin-left: 56px;
  margin-right: 34px;
}
.post__panorama-icon {
  display: block;
  width: 44px;
  height: 44px;
  background-image: url("../img/icon-editor-crop.svg");
  background-repeat: no-repeat;
}
.post__saturation {
  margin-right: 40px;
}
.post__saturation-icon {
  display: block;
  width: 48px;
  height: 43px;
  background-image: url("../img/icon-editor-fill.svg");
  background-repeat: no-repeat;
}
.post__brightness-icon {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-editor-contrast.svg");
  background-repeat: no-repeat;
}
.post__input {
  position: absolute;
  top: 70px;
  left: 38px;
  width: 248px;
}
.post__submit,
.post__reset {
  margin-left: 18px;
}
.post__submit {
  margin-top: 38px;
  margin-bottom: 12px;
  width: 280px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 50px;
}
.post__reset {
  width: 280px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  color: #283645;
  border: 3px solid #283645;
  border-radius: 50px;
  opacity: 0.1;
}
.history__slogan {
  margin: 49px 0;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #283645;
}
.history__form-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.history__list {
  margin: 0 22px;
  padding: 0;
  list-style: none;
}
.history__item {
  margin-bottom: 25px;
}
.history__item:last-of-type {
  margin-bottom: 44px;
}
.history__label {
  margin-bottom: 12px;
  display: block;
  padding-left: 29px;
  font-size: 14px;
  line-height: 2.14;
  text-transform: uppercase;
  text-align: left;
  color: #d22856;
}
.history__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 276px;
  height: 59px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #283645;
  border: 2px solid #e5e5e5;
}
.history__form-progress {
  background-color: #f2f2f2;
}
.history__form-legend {
  padding-top: 41px;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  color: #d22856;
}
.history__progress-item {
  margin-bottom: 47px;
  min-height: 35px;
}
.history__progress-item:last-of-type {
  margin-bottom: 44px;
}
.history__progress-input {
  display: none;
}
.history__progress-label {
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #283645;
}
.history__progress-label::before {
  display: inline-block;
  content: "";
  margin-right: 33px;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}
.history__progress-input:checked ~ .history__progress-label::before {
  background-image: url("../img/icon-yes.svg");
  background-position: 50% 50%;
  background-color: "#d4345f";
}
.history__form-application {
  background-color: #f2f2f2;
}
.history__application-item {
  margin-bottom: 39px;
}
.history__application-item:last-of-type {
  margin-bottom: 44px;
}
.history__application-input {
  display: none;
}
.history__application-label {
  position: relative;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #283645;
}
.history__application-label::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 33px;
  display: inline-block;
  content: "";
  width: 37px;
  height: 36px;
  vertical-align: middle;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;
}
.history__application-input:checked ~ .history__application-label::after {
  position: absolute;
  top: 9px;
  left: 13px;
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #d22856;
}
.history__form-contact {
  margin-top: 41px;
}
.net__item-label::before {
  margin-right: 11px;
  margin-left: 1px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.history__emotion-legend {
  background-color: #ffffff;
  margin-bottom: 19px;
}
.history__emotion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 52px;
  margin-left: 22px;
  margin-right: 22px;
  padding-top: 23px;
  padding-left: 19px;
  padding-right: 22px;
  width: 276px;
  min-height: 197px;
  border: 2px solid #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #283645;
}
.history__form-button {
  margin: 0 22px;
  width: 276px;
  height: 59px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: 2px solid #2aab6d;
  border-radius: 3px;
  background-color: #2aab6d;
}
.history__note {
  margin-top: 46px;
  font-size: 14px;
  line-height: 2.14;
  text-transform: uppercase;
  text-align: center;
  color: #283645;
}
.history__note-star {
  color: #d22856;
}
.page-footer {
  text-align: center;
}
.page-footer__logo {
  display: block;
  margin-top: 64px;
  margin-bottom: 43px;
}
.page-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 190px;
}
.page-footer__social-item {
  margin-right: 17px;
  width: 46px;
  height: 46px;
  line-height: 50px;
  vertical-align: middle;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  background-color: #fefefe;
}
.page-footer__social-item:last-of-type {
  margin-right: 0;
}
.page-footer__social-link {
  display: block;
}
.page-footer__developer {
  display: block;
  margin: 50px 0;
}
.page-footer__developer-text {
  font-size: 14px;
  line-height: 1.29;
  color: #283645;
}
.page-footer__social-icon {
  fill: #D22856;
}
.page-footer__developer-image {
  width: 40px;
  height: auto;
  margin-left: 15px;
  vertical-align: middle;
}
@media (min-width: 660px) {
  .page-footer {
    margin: 0 20px 0 20px;
    min-height: 127px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-footer__logo,
  .page-footer__developer {
    margin: 0;
  }
  .page-footer__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 660px) {
  .news {
    display: block;
    margin-top: 50px;
  }
  .news__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news__wrapper::before {
    display: block;
    margin-right: 70px;
    content: "";
    min-width: 238px;
    height: 276px;
    background-image: url("../img/icon-timer.svg");
    background-size: 238px 276px;
  }
  .news__block {
    text-align: left;
    padding-right: 36px;
  }
  .news__head {
    padding-right: 30px;
    font-size: 30px;
    line-height: 1.2;
  }
  .news__content,
  .mews__link {
    font-size: 14px;
    line-height: 1.71;
    color: #283645;
  }
  .news__link {
    color: #d22856;
    text-decoration: none;
  }
}

/*# sourceMappingURL=style.css.map */
